[build]
  publish = "dist"
  command = "npm run build"

[[redirects]]
  from = "/sentry/*"
  to = "/index.html"
  status = 200

[[headers]]
  for = "/*"
  [headers.values]
    Referrer-Policy = "no-referrer"
    X-Frame-Options = "DENY"
    X-XSS-Protection = "1; mode=block"
    Strict-Transport-Security = "max-age=31536000; includeSubDomains"
    Content-Security-Policy = "default-src 'self' https:; font-src 'self' https: data:; script-src 'self' https: 'unsafe-inline' 'unsafe-eval'; style-src 'self' https: 'unsafe-inline';"
    Access-Control-Allow-Origin = "https://*.neo-nasa.netlify.app"
    X-Robots-Tag = "index, follow"
    X-Content-Type-Options = "nosniff"

[[headers]]
  for = "/*.html"
  [headers.values]
    Content-Type = "text/html"

[[headers]]
  for = "/sitemap_index.xml"
  [headers.values]
    Content-Type = "application/xml"
    X-Robots-Tag = "noindex, follow"