:root {
    --background-grey: rgba(65, 68, 77, 0.556);
    --black-low-opacity: rgba(255, 255, 255, 0.196);
    --gradient-dark: linear-gradient(rgba(60, 62, 70, 0.832), var(--background-grey));
}

html,
body {
    height: 100%;
    margin: 0;
}

body {
    background: linear-gradient(
        135deg,
        rgba(255, 255, 255, 0.207),
        rgb(173, 213, 252),
        rgb(193, 216, 252),
        rgb(199, 214, 245)
    );

    background-attachment: fixed;
}

.App {
    align-items: center;
    color: black;
   display: flex;
    flex-direction: column;
    font-size: calc(12px + 2vmin); /* Increase font size for better readability */
    text-align: center;
}

.Filters {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 1rem;
    color: rgb(77, 77, 77);
    width: 100%;
    align-items: center;
    border-radius: 8px;
}
.Page-Description {
    padding: 1rem;
    border-radius: 8px;
    cursor: auto;
}

.Hyperlink {
    text-decoration: none;
    color: rgb(93, 110, 135);
}

.Hyperlink:hover {
   color: rgb(150, 167, 206);
}

.Description-Header {
    color: rgb(39, 38, 38);
}

.Description-Text {
    color: rgb(49, 46, 46);
}

Error-Container {
    margin: 3rem;
    width: 100%;
    height: 5rem;
    background-color: rgba(255, 0, 0, 0.662);
   color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.422), 0 -4px 8px rgba(0, 0, 0, 0.422);
   border-radius: 8px;
}

.Button {
    border: none;
    background: transparent;
    border-radius: 5px;
    color: rgb(77, 77, 77);
    align-content: center;
    border: 2px solid rgba(0, 0, 0, 0.266);
    font-size: 8px + 2vmin;
    margin: 1rem;
    padding: 12px 24px; /* Increase padding for better touch interaction */
}

.Button:hover {
    background: rgba(255, 255, 255, 0.114);
}

.header-button {
    font-size: calc(8px + 2vmin);
}

.header-button:hover {
    color: rgb(89, 89, 89);
}

.Card-Holder {
    align-items: flex-start; /* Added to prevent cards from stretching */
    display: grid;
    margin: 1rem;
    padding: 1rem;
    grid-template-columns: repeat(3, 1fr); /* Increase number of columns for better layout */
    justify-content: center;
    gap: 3rem;
}

.Card-Name {
    display: block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.Card {
    color: rgb(49, 49, 49);
    cursor: pointer;
    align-content: center;
    border: 2px solid rgba(0, 0, 0, 0.266);
    padding: 1.5em; /* Increase padding for better content display */
    border-radius: 8px;
    -webkit-user-select: none;
    user-select: none;
    transform: scale(1);
    transition: transform 0.1s ease-in-out;
}

.Card:hover {
    transform: scale(1.02);
}

.Card::before .Obj-Data {
    border: 1px dotted var(--black-low-opacity);
    margin: 10px;
    padding: 10px;
}

.Loading-Container {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.Tip-Container {
    background-color: white;
    padding: 1rem;
}

.Spinning-Logo {
    margin: 3rem;
    width: 250px;
    height: 250px;
    animation: spin infinite 2s linear;
}

.No-Results {
    padding: 2rem;
}

.Footer{
    color: rgb(70, 69, 69);
    padding: 1rem;
    font-size: 1.2rem;
}

.Source-Link{
    text-decoration: none;
    color: rgb(27, 26, 26);
  }

  .Footer-Details{
    display: flex;
    justify-content: center;
  }
  

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@media only screen and (max-width: 700px) {
    .Card-Holder {
        display: flex;
        flex-direction: column;
    }

    .Card {
        width: 100%;
        height: auto;
    }
}

@media only screen and (max-width: 1200px) {
    .Card-Holder {
        grid-template-columns: repeat(2, 1fr);
    }

    .Card {
        width: 100%;
        height: auto;
    }
}

@media only screen and (min-width: 1920px) {
    .Card-Holder {
        grid-template-columns: repeat(6, 1fr); /* Increase to 6 columns for large screens */
    }

    .Card {
        width: 25rem;
        height: 25rem;
    }
}

@media only screen and (min-width: 600px) {
    .No-Results {
        width: 50vw;
    }
}
