.Filters {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5rem;
    width: 100%;
    align-items: center;
}

.Filter-Input {
    border: none;
    width: auto;
    box-shadow: none;
    color: white;
}

.Filter-Input::first-line {
    color: white;
}

.Filter-Input:focus,
.Filter-Input:hover {
    outline: none;
    background: #fbcdcd00;
}

.header-button {
    padding: 0;
    margin: 0;
    border-radius: var(--border-radius);
    border: none;
    margin: 3rem 0;
    font-family: 'Arial Narrow Bold', sans-serif;
    font-size: 1.2em;
    background: rgb(243, 155, 155);
    color: rgb(230, 230, 230);
    transition: var(--transition);
    cursor: pointer;
}

.header-button:hover {
    background-color: rgba(243, 155, 155, 0.733);
    color: rgb(182, 182, 182);
}

.dropdown-menu.show {
    background: rgb(70, 70, 70);
}

.dropdown-flex {
    display: flex;
    flex-direction: column;
    background: rgba(0, 0, 0, 0);
    align-items: center;
    justify-content: center;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
}

.dropdown-item {
    text-align: center;
    padding: 1.4rem;
    color: white;
}

.dropdown-item:hover {
    background-color: rgba(255, 191, 191, 0.173);
    color: var(--text-light);
}

@media only screen and (max-width: 420px) {
    .Filters {
        gap: 1rem;
        padding: 0;
        font-size: .8em;
    }

    .header-button {
        padding: .5rem .2rem .5rem .2rem;
    }
}

@media only screen and (min-width: 420px) and (max-width: 757px) {
    .Filters {
        padding: 0;
        gap: 2rem;
        font-size: 1em;
    }

    .header-button {
        padding: .5rem .3rem .5rem .3rem;
    }

    .header-button a {
        margin: .1rem;
    }
}

@media only screen and (min-width: 760px) {
    .Filters {
        padding: 0;
        gap: 8rem;
    }

    .header-button {
        padding: .5rem 1rem .5rem 1rem;
    }
}

@media only screen and (min-width: 1200px) {
    .Filters {
        padding: 0;
        gap: 8rem;
    }

}