.landing-container {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-height: 100vh;
    background-color: var(--background-dark);
    color: var(--text-light);
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.particles {
    z-index: 0;
}

.landing-header {
    padding: 1rem;
    z-index: 10;
}

.title {
    font-size: 3em;
    color: var(--text-light);
    /* Use theme text color */
}

h1 {
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
    color: var(--text-light);
}

.subtitle,
.sub-text {
    transition: opacity 0.8s fadein;
    color: var(--text-light);
}

.sub-text,
.title,
.subtitle {
    margin: 1rem;
}

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeInBounceLanding {
    0% {
        opacity: 0;
        transform: rotate(-3deg) translateY(-100%);
        color: white;
    }

    20% {
        transform: rotate(3deg) translateY(0);
        opacity: 0.9;
    }

    40% {
        transform: rotate(-3deg) translateY(-20%);
        opacity: 1;
        color: #e8e8e8;
        text-shadow: 0 0 .1em #d0cfcf;
    }

    60% {
        opacity: 1;
        transform: translateY(0);
        color: white;
    }

    80% {
        opacity: 1;
        transform: rotate(0deg) translateY(-2.5%);
    }

    100% {
        opacity: 1;
        transform: translateY(-0);
    }
}

.AnimatedLetters {
    display: inline;
}

/* Apply animation to each letter */
.AnimatedLetters span {
    display: inline-block;
    opacity: 0;
    animation: fadeInBounceLanding 2s ease forwards;
}

.AnimatedLetters span:nth-child(1) {
    animation-delay: 0s;
}

.AnimatedLetters span:nth-child(2) {
    animation-delay: 0.1s;
}

.inline-style {
    animation-delay: 0s;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
    color: var(--text-light);
}

.subtitle {
    font-size: 1.5em;
    color: var(--text-dark);
    padding: 1rem;
}

.sub-text {
    padding: 1rem;
    background-color: var(--background-grey);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    color: var(--text-light);
}

a {
    color: var(--primary-accent);
    text-decoration: underline;
    transition: var(--transition);
}

.Button-Landing {
    text-decoration: none;
    color: var(--primary-accent);
    transition: var(--transition);
}

a:hover {
    color: var(--secondary-accent);
}

.features {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1200px;
    margin: 1em;
}

.feature {
    z-index: 10;
}

@media only screen and (max-width: 1000px) {
    .features {
        margin-top: 2rem;
    }
}

.feature {
    flex: 1 1 30%;
    padding: 20px;
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
    background-color: var(--background-grey);
    color: var(--text-light);
    margin: 0 1rem 2rem;
}

h2 {
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
    color: var(--text-light);
}

.featureTitle {
    font-size: 1.5em;
    color: var(--text-light);
}

.featureDescription {
    font-size: 1em;
    color: var(--text-dark);
}

.footerText {
    font-size: 1.2rem;
    color: var(--text-dark);
    z-index: 10;
}

.Hyperlink {
    text-decoration: none;
    color: var(--primary-accent);
    transition: var(--transition);
}

.Hyperlink:hover {
    color: var(--secondary-accent);
}