header {
    width: 100%;
}

nav {
    width: 100%;
}

.app-header {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 2rem;
    background: rgba(0, 0, 0, 0.238);
    color: var(--text-light);
    box-shadow: var(--box-shadow);
}

.h1-sentry{
    padding-bottom: 2rem;
}

.app-nav-side {
    width: 100%;
    background: rgba(0, 0, 0, 0.238);
    color: var(--text-light);
    padding: 2rem;
    display: flex;
    flex-direction: column;
}

.h2-sentry {
    font-size: 1.4em;
}

.h3-sentry {
    font-size: 1em;
}

.App {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: var(--background-dark);
    color: var(--text-light);
    box-shadow: var(--box-shadow);
}

.Page-Description {
    border-radius: var(--border-radius);
    cursor: auto;
    background-color: var(--background-grey);
    color: var(--text-light);
    padding: 1rem;
    box-shadow: var(--box-shadow);
}

.Hyperlink {
    text-decoration: none;
    color: var(--primary-accent);
    transition: var(--transition);
}

.Hyperlink:hover {
    color: var(--secondary-accent);
}

.Button-Load {
    border: 2px solid var(--background-grey);
    background: var(--background-dark);
    color: var(--text-light);
    border-radius: var(--border-radius);
    font-size: 1rem;
    padding: 1rem;
    width: 10rem;
    transition: var(--transition);
    margin-bottom: 2rem;
    cursor: pointer;
}

.Button-Load:hover {
    background: rgba(255, 255, 255, 0.114);
    border-color: var(--primary-accent);
}

.subtitle {
    font-size: 1.5em;
    color: var(--text-dark);
}

.sub-text {
    padding: 1rem;
    background: var(--background-grey);
    color: var(--text-light);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
}

.Footer-Sentry {
    width: 100%;
    background: rgba(0, 0, 0, 0.238);
    color: var(--text-light);
    padding: 2rem;
    display: flex;
    flex-direction: column;
}

.Page-Description {
    background-color: #4b4b4b14;
    align-content: center;
}

.Description-Text {
    display: inline;
}

@media only screen and (min-width: 1200px) {
    .h2-sentry {
        font-size: 1.8em;
    }

    .h3-sentry {
        font-size: 1.4em;
    }
}