:root {
    --background-dark: #1a1a1a;
    --background-grey: #2e2e2e;
    --primary-accent: #ff6347;
    --secondary-accent: #ff9d00;
    --text-light: #e0e0e0;
    --text-dark: #cccccc;
    --border-radius: 10px;
    --box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    --transition: all 0.3s ease;
}

* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    margin: 0;
    background: var(--background-dark);
    color: var(--text-light);
    font-family: 'Roboto', sans-serif;
    padding: 0;
    line-height: 1.6;
}

header {
    width: 100%;
}

.app-header {
    display: flex;
    padding: 1rem;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 1rem;
    background: rgba(0, 0, 0, 0.238);
    color: var(--text-light);
    box-shadow: var(--box-shadow);
}

.h2-sentry {
    font-size: 1.4em;
}

.h3-sentry {
    font-size: 1em;
}

.header-button {
    padding: 0.5rem 1rem;
    border-radius: var(--border-radius);
    border: none;
    margin: 1rem 0;
    background-color: var(--primary-accent);
    color: var(--text-light);
    transition: var(--transition);
    cursor: pointer;
}

.header-button:hover {
    background-color: var(--secondary-accent);
}

.dropdown-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--background-grey);
    color: var(--text-light);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
}

.dropdown-item:hover {
    background-color: var(--primary-accent);
    color: var(--text-light);
}

.app-nav-item {
    margin: 1rem;
    color: var(--text-light);
}

.App {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: var(--background-dark);
    color: var(--text-light);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
}

.Filters {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    width: 100%;
    align-items: center;
}

.Filter-Input {
    border-radius: var(--border-radius);
    border: none;
    width: auto;
    background: var(--background-dark);
    color: var(--text-light);
    padding: 0.5rem;
}

.Page-Description {
    border-radius: var(--border-radius);
    cursor: auto;
    background-color: var(--background-grey);
    color: var(--text-light);
    padding: 1rem;
    box-shadow: var(--box-shadow);
}

.Hyperlink {
    text-decoration: none;
    color: var(--primary-accent);
    transition: var(--transition);
}

.Hyperlink:hover {
    color: var(--secondary-accent);
}

.Error-Container {
    width: calc(100% - 2rem);
    height: auto;
    padding: 1rem;
    background-color: rgba(255, 0, 0, 0.19);
    color: var(--text-dark);
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    align-items: center;
    max-width: 1200px;
    justify-content: center;
    border-radius: var(--border-radius);
    margin: 0 auto;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1), 0 4px 6px rgba(0, 0, 0, 0.05);
}

.Button-Load {
    border: 2px solid var(--background-grey);
    background: var(--background-dark);
    color: var(--text-light);
    border-radius: var(--border-radius);
    font-size: 1rem;
    padding: 1rem;
    width: 10rem;
    transition: var(--transition);
    margin: 2rem;
    cursor: pointer;
}

.Button-Load:hover {
    background: rgba(255, 255, 255, 0.114);
    border-color: var(--primary-accent);
}

.Card-Holder {
    align-items: flex-start;
    /** Prevents cards from stretching */
    display: grid;
    margin: 1rem;
    padding: 1rem;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    gap: 4rem;
    transition: var(--transition);
}

.Card {
    color: var(--text-light);
    font-size: 1.3em;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    max-width: 20rem;
    -webkit-user-select: none;
    padding: 2rem;
    user-select: none;
    transform: scale(1);
    transition: transform 0.1s ease-in-out;
    transition: var(--transition);
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
    background-color: var(--background-grey);
    animation: pop-in 0.5s;
    border: 2px solid transparent;
    position: relative;
}

.Card:hover {
    border-color: var(--primary-accent);
    background-color: rgb(51, 51, 51);
    color: var(--text-light);
}

.Card.selected {
    transform: scale(1.1);
}

.Card-Header {
    width: 100%;
}

.Card.a0101955 {
    font-size: .862em;
}

.Card-Name {
    width: 100%;
    font-size: 1.5em;
}

.Data-Heading {
    font-size: 1.2rem;
    color: var(--text-light);
}

time {
    white-space: wrap;
}

.Data-Data {
    font-size: 1.3rem;
    color: var(--text-dark);
}

.Card-Data {
    opacity: 0;
    max-height: 0;
    padding: 1rem 2rem 0 2rem;
    overflow: hidden;
    transition: max-height 0.8s ease, opacity 0.8s ease;
}

.Card-Data.visible {
    opacity: 1;
    max-height: 1000px;
}

.Loading-Container {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: var(--background-dark);
    color: var(--text-light);
}

.Tip-Container {
    padding: 1rem;
    background: var(--background-grey);
    color: var(--text-light);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
}

.Spinning-Logo {
    margin: 3rem;
    width: 250px;
    height: 250px;
    animation: spin infinite 2s linear;
}

.No-Results {
    padding: 2rem;
    background: var(--background-grey);
    color: var(--text-dark);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
}

.subtitle {
    font-size: 1.5em;
    color: var(--text-dark);
}

.sub-text {
    padding: 1rem;
    background: var(--background-grey);
    color: var(--text-light);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
}

.Footer-Sentry {
    width: 100%;
    background: rgba(0, 0, 0, 0.238);
    color: var(--text-light);
    padding: 2rem;
    display: flex;
    flex-direction: column;
}

.Page-Description {
    background-color: #4b4b4b20;
    align-content: center;
}

.Description-Text {
    display: inline;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@media only screen and (min-width: 1920px) {
    .Card-Holder {
        grid-template-columns: repeat(6, 1fr);
    }
}

@media only screen and (min-width: 680px) and (max-width: 900px),
only screen and (max-width: 680px) {
    .Card-Holder {
        display: flex;
        flex-wrap: wrap;
        grid-template-columns: 1fr;
    }
}

@media only screen and (min-width: 900px) and (max-width: 1200px) {
    .Card-Holder {
        gap: calc(5rem + 0.8vw);
        display: flex;
        flex-wrap: wrap;
    }
}

@media only screen and (min-width: 1200px) {
    .h2-sentry {
        font-size: 1.8em;
    }

    .h3-sentry {
        font-size: 1.4em;
    }
}