* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    margin: 0;
}

body {
    background: linear-gradient(135deg, rgb(231, 220, 249), rgb(210, 232, 243), rgb(193, 216, 252), rgb(233, 223, 248));
    background-attachment: fixed;
    background-position: 50% 99%;
    background-repeat: no-repeat;
    background-size: cover; /* Ensure it covers the entire viewport */
}

noscript {
    display: flex;
    justify-content: center;
    margin: 2rem;
    padding: 2rem;
    flex-direction: column;
    align-items: center;
}

noscript ul {
    list-style: none;
}

noscript a {
    text-decoration: none;
}

@media (max-width: 767px) {
    body {
        background: linear-gradient(135deg, rgb(231, 220, 249), rgb(210, 232, 243), rgb(193, 216, 252), rgb(233, 223, 248));
        background-attachment: fixed; /* Use 'fixed' for more stability */
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}